<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS Basic</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

    <!-- Nav -->
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/upload-file">Upload File</a>
    </div>

    <!-- Table -->
    <div class="upload-file-container">
        <h1>Handling File Upload using ExpressJS and Multer</h1>
        <!-- Upload single file -->
        <form method="POST" action="/upload-profile-pic" enctype="multipart/form-data">
            <div>
                <h3>Upload single file:</h3>
                <div>
                    <span>Select your profile picture: </span>
                    <input type="file" name="profile_pic" />
                </div>
            </div>

            <div>
                <button class="btn-save" type="submit">Upload</button>
            </div>
        </form>

        <hr />

        <!-- Upload multiple file -->
        <form method="POST" action="/upload-multiple-images" enctype="multipart/form-data">
            <div>
                <h3>Upload Multiple Files:</h3>
                <div>
                    <span>Select multiple images: </span>
                    <input type="file" name="multiple_images" multiple />
                </div>
            </div>
            <div>
                <input class="btn-save" type="submit" name="btn_upload_multiple_images" value="Upload" />
            </div>
        </form>
    </div>

    <script src="../public/css/style.css"></script>
</body>

</html>